<div class="container-fluid">
  <h1>Films</h1>

  <!-- ide készítjük el a keresési beviteli mezőt -->
  <div class="row">
    <div class="col-4">
      <input [(ngModel)]="filterInput"
             type="text"
             class="form-control">
    </div>
    <div class="col-8">
      <button class="btn btn-warning"
              (click)="setfilterPhrase()">Search</button>
      <button class="btn btn-info"
              (click)="resetSearch()">Reset Search</button>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table table-striped">
        <thead>
          <tr>
            <th (click)="setOrderKey('id')">#</th>
            <th (click)="setOrderKey('title')">Title</th>
            <th (click)="setOrderKey('release')">Release</th>
            <th (click)="setOrderKey('actor')">Actor</th>
            <th>Commands</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>
              <input class="form-control"
                     type="text"
                     [(ngModel)]="newFilm.title">
            </td>
            <td>
              <input class="form-control"
                     type="text"
                     [(ngModel)]="newFilm.release">
            </td>
            <td>
              <input class="form-control"
                     type="text"
                     [(ngModel)]="newFilm.actor">
            </td>
            <td>
              <div class="btn-group">
                <button class="btn btn-success"
                        (click)="onCreate()">New Film
                </button>
                <button class="btn btn-warning"
                        (click)="onCancel()">Cancel
                </button>
              </div>
            </td>
          </tr>
          <tr *ngFor="let film of filmList | filter: filterPhrase: changeCounter | order: orderKey: orderDirection: changeCounter">

            <td>
              {{ film.id }}
            </td>
            <td>
              <input [(ngModel)]="film.title"
                     type="text"
                     class="form-control">
            </td>
            <td>
              <input [(ngModel)]="film.release"
                     type="text"
                     class="form-control">
            </td>
            <td>
              <input [(ngModel)]="film.actor"
                     type="text"
                     class="form-control">
            </td>
            <td>
              <div class="btn-group">
                <button class="btn btn-info"
                        (click)="onUpdate(film)">Update</button>
                <!-- létre kell hoznunk egy-egy metódust az app-componentben, ami meghívja
                        a megfelelő metódust a szervízből -->
                <button class="btn btn-danger"
                        (click)="onDelete(film)">Delete</button>
              </div>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
