extends layout

block content
  .jumbotron
    h1.display-4 Hungry? Order some food!
    p.lead
      | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
    hr.my-4
    p
      | It uses utility classes for typography and spacing to space content out within the larger container.
    .row
      .col-6
        button.btn.btn-primary.btn-lg
          a.text-white(href="/products") Learn more
      .col-6.text-right
        button.btn.btn-primary.btn-lg
          a.text-white(href="/login") Sign in/Register
      
