extends layout

block content

  pre #{products[0].name}
  
  .container-fluid
    .row
      each product in products
        .col-4
          .card.text-white.bg-primary.mb-3
            .card-header(style='font-size: 15px')= product.name
            .card-body
              p.card-text Manufacturer: #{product.manufacturer}
              p.card-text Price:  #{product.price} $
              a.btn.btn-success.btn-large(href='#') Show
