<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>Update and Edit a New User</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-12">
    <form action=""
          (submit)="onSubmit($event)">

      <div class="form-group">
        <label for="firstName">First Name</label>
        <input type="text"
               class="form-control"
               name="firstname"
               [(ngModel)]="user.name.first">
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text"
               class="form-control"
               name="lastname"
               [(ngModel)]="user.name.last">
      </div>

      <div class="form-group">
        <label for="age">Age</label>
        <input type="number"
               class="form-control"
               name="age"
               [(ngModel)]="user.age">
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="email"
               class="form-control"
               name="email"
               [(ngModel)]="user.email">
      </div>

      <div class="form-group">
        <label for="phone">Phone</label>
        <input type="tel"
               class="form-control"
               name="phone"
               [(ngModel)]="user.phone">
      </div>

      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-primary">Update</button>
          <button class="btn btn-danger"
                  routerLink="/users">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>
