<div class="container">
  <div class="row text-right">
    <div class="col-12">
      <button class="btn btn-warning new-user">
        <a routerLink="/new-user">Create New User</a>
      </button>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1">
      <h1>{{ title }}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10 offset-1 ">
      <table class="table table-striped ">
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Active</th>
            <th>Age</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Actions</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let user of userList">
            <td class="align-middle">{{ user.id }}</td>
            <td class="align-middle">{{ user.name.last }} {{ user.name.first }}</td>
            <td class="align-middle">{{ user.isActive }}</td>
            <td class="align-middle">{{ user.age }}</td>
            <td class="align-middle">{{ user.email }}</td>
            <td class="align-middle">{{ user.phone }}</td>
            <td class="align-middle">
              <button class="btn btn-info"
                      routerLink="/users/{{user.id}}">Update</button>
              <button class="btn btn-danger"
                      (click)="onDelete(user)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
