.new-user a {
  color: #FFF;
  text-decoration: none;
}

button {
  border-radius: 99px;
}

button {
  margin-left: 5px;
  margin-right: 5px;
}

.new-user {
  margin-top: 40px;
  width: 17%;
}

th {
  font-size: 20px;
}
